.card {
  width: min(100%, 110rem);
  min-height: 44rem;
  background-color: var(--card-bg);
  display: flex;
  border-radius: 0.7rem;
  overflow-x: hidden;
}

.card > * {
  flex-basis: 50%;
}

.card_content {
  padding: 3.5rem;
  display: grid;
  place-items: center;
}

.card_body {
  width: min(100%, 39rem);
}

.card_title {
  font-size: clamp(2rem, 5vw, 3.2rem);
  line-height: 1.3;
  color: var(--color-white);
}

.card_title .purple {
  color: var(--mikado-yellow);
  font-family: var(--ff-comforter-brush);
}

.card_description {
  margin-top: 2.5rem;
}

.stats {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.stats_item {
  text-transform: uppercase;
}

.stats_number {
  font-size: clamp(1.7rem, 4vw, 2.1rem);
  font-weight: 700;
  color: var(--color-white);
}

.stats_name {
  font-family: var(--ff-comforter-brush);
  font-size: 1.7rem;
  color: var(--mikado-yellow);
}

.card_img {
  background-color: hsl(276, 4%, 56%);
  border-radius: 20px 0 0 20px;
  overflow: hidden;
}

.card_img .about_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* mix-blend-mode: multiply; */
  border-radius: 20px 0 0 20px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.about_img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .card {
    flex-direction: column-reverse;
    max-width: 50rem;
  }

  .card_body {
    text-align: center;
  }

  .card_content {
    padding: 4rem 3rem;
  }
  .card_img {
    border-radius: 0;
  }

  .card_img .about_img {
    border-radius: 0;
  }
}

@media screen and (max-width: 375px) {
  .stats {
    margin-top: 5rem;
    grid-template-columns: 1fr;
  }
  .card_img {
    border-radius: 0;
  }

  .card_img .about_img {
    border-radius: 0;
  }
}
