.outer_box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin: 0 100px 20px 100px;
  padding: 80px 100px;
  gap: 40px;
  background-color: #327c8e;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /* margin-top: 150px; */
}
.row1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px;
}

.brand_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 60px;
  border-radius: 50%;
}

.brand_title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 750;
  font-family: var(--ff-comforter-brush);
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social_text {
  font-size: 16px;
}
.social_links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  margin-top: 20px;
}
.socia_link {
  border: 1px solid #ffffff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 5px;
  /* margin-top: 15px; */
  transition: all 0.8s;
  align-items: center;
}

.socia_link:hover {
  background: #1877f2;
  box-shadow: 0 0 25px #1877f2;
}

.socia_link:hover:nth-child(2) {
  background: #e60073;
  box-shadow: 0 0 25px #e60073;
}

.socia_link:hover:nth-child(3) {
  background: #25d366;
  box-shadow: 0 0 25px #25d366;
}

.socia_link:hover:nth-child(5) {
  background: #c4302b;
  box-shadow: 0 0 25px #c4302b;
}

.text_mail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text,
.mail {
  font-size: 16px;
}
.separator {
  width: 80%;
  height: 2px;
  background-color: #fff;
}
.row2 {
  font-size: 16px;
}

.wp_link {
  padding: 2px;
}
.ig_link {
  width: 30px;
  height: 30px;
  padding: 2px;
}
.twi_link {
  width: 30px;
  height: 30px;
  padding: 2px;
}

.li_link {
  width: 30px;
  height: 30px;
  padding: 3px;
}

@media screen and (max-width: 550px) {
  .outer_box {
    margin: 0 20px 20px 20px;
    padding: 40px;
    width: auto;
  }
  .row1 {
    flex-direction: column;
    row-gap: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .row1 {
    flex-direction: row;

    gap: 20px;
  }
}
@media screen and (min-width: 550px) and (max-width: 768px) {
  .outer_box {
    margin: 0 20px 20px 20px;
    padding: 20px;
  }
  .row1 {
    flex-direction: column;
    row-gap: 20px;
  }
  .row2 {
    font-size: 16px;
  }
}
