:root {
  --ff-abril-fatface: "Abril Fatface", cursive;
  --ff-comforter-brush: "Comforter Brush", cursive;
  --ff-heebo: "Heebo", sans-serif;
  --mikado-blue: hsl(207, 98%, 50%);
  --mikado-yellow: hsl(47, 98%, 50%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  overflow-x: hidden;
  /* background-color: #000000; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  all: unset;
  text-decoration: none;
  cursor: pointer;
}
